{% extends "base.html" %}

{% block head %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="{{ page.permalink }}" />
  <meta property="article:author" content="https://www.liamgallagher.dev/" />
  <meta property="article:published_time" content="{{ page.date }}">
  {% if page.updated %}
    <meta property="article:modified_time" content="{{ page.updated }}">
  {% endif %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Article",
      "headline": "{{ page.title }}",
      "description": "{{ page.description }}",
      "author": {
        "@type": "Person",
        "name": "Liam Gallagher",
        "url": "https://www.liamgallagher.dev/"
      },
      "datePublished": "{{ page.date }}T00:00:00+13:00",
      {% if page.updated %}
        "dateModified": "{{ page.updated }}T00:00:00+13:00",
      {% endif %}
      "wordCount": {{ page.word_count }}
    }
  </script>
{% endblock head %}

{% block content %}
  <nav><a href="/writing/">← writing</a></nav>
  <article>
    <h1 class="title">{{ page.title }}</h1>
    <time datetime="{{ page.date }}">{{ page.date }}</time>
    {{ page.content | safe }}
  </article>
{% endblock content %}
